.name{
    width: 10%;
    cursor: pointer;
}
.button{
    padding: 20px;
}

 *{
    margin: 0;
    padding: 0;
    /* background-color: gainsboro; */
 }

 .colorful{
    background-color: lightblue;
 }